# Dependencies
node_modules/
*/node_modules/

# Next.js build outputs
.next/
*/.next/
out/

# Environment files & secrets
.env
.env.local
.env.*.local
*/.env

# Uploads & Temp files
uploads/
*/uploads/
*.log

# OS files
.DS_Store
Thumbs.db